

<h1><%= @place["name"] %></h1>


<% for entry in @entries %>
     
      <p><%=entry["title"]%></p>
       <li><%=entry["posted_on"]%></li>
       <li><%=entry["description"]%></li>

<% end %>


<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
</p>

<a href="/places">Go Back to Places List</a>

